@font-face {
	font-family: 'MaruBuri';
	font-weight: 700;
	font-display: swap;
	src: local('MaruBuri Bold'), url('./otf/MaruBuri-Bold.otf') format('otf'),
		url('./ttf/MaruBuri-Bold.ttf') format('ttf');
}

@font-face {
	font-family: 'MaruBuri';
	font-weight: 600;
	font-display: swap;
	src: local('MaruBuri SemiBold'), url('./otf/MaruBuri-SemiBold.otf') format('otf'),
		url('./ttf/MaruBuri-SemiBold.ttf') format('ttf');
}

@font-face {
	font-family: 'MaruBuri';
	font-weight: 400;
	font-display: swap;
	src: local('MaruBuri Regular'), url('./otf/MaruBuri-Regular.otf') format('otf'),
		url('./ttf/MaruBuri-Regular.ttf') format('ttf');
}

@font-face {
	font-family: 'MaruBuri';
	font-weight: 300;
	font-display: swap;
	src: local('MaruBuri Light'), url('./otf/MaruBuri-Light.otf') format('otf'),
		url('./ttf/MaruBuri-Light.ttf') format('ttf');
}

@font-face {
	font-family: 'MaruBuri';
	font-weight: 200;
	font-display: swap;
	src: local('MaruBuri ExtraLight'), url('./otf/MaruBuri-ExtraLight.otf') format('otf'),
		url('./ttf/MaruBuri-ExtraLight.ttf') format('ttf');
}
